@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Welcome to Hype Gaming dot RIP</h1>
    <img src="images/hype.png">
    <p class="lead">Welcome cuz</p>
    <p><a href="https://twitter.com/HYPEgamingGG" class="btn btn-primary btn-lg">Twitter &raquo;</a></p>
</div>*@ 

<div class="jumbotron" style="background-image: url(../Views/Images/hype.png); background-size: 100% 100%;">
    <h1>Welcome</h1>
    <p class="lead">Your message here</p>
    <p><a href="http://www.YourLinkHere.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fuckin RIP</h2>
        <p>
            Pro ne etiam facilis phaedrum. Debitis phaedrum quo cu. Ut prima nonumes nostrum vel. Ex tempor quidam ius, est no oblique feugait menandri, sea et saepe facete labitur. Verear dolorem id vel.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blah Blah Blahh</h2>
        <p>Pro ne etiam facilis phaedrum. Debitis phaedrum quo cu. Ut prima nonumes nostrum vel. Ex tempor quidam ius, est no oblique feugait menandri, sea et saepe facete labitur. Verear dolorem id vel.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blah Blah</h2>
        <p>Pro ne etiam facilis phaedrum. Debitis phaedrum quo cu. Ut prima nonumes nostrum vel. Ex tempor quidam ius, est no oblique feugait menandri, sea et saepe facete labitur. Verear dolorem id vel..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>